<div class="container-fluid" style="">
    <div style="text-align: center;">
        <h1>Tratamiento</h1>
        <h2>Actividades</h2>

        <mat-divider></mat-divider>
    </div>
    <div class="row">
        <div class="col-md-1" style=""></div>
        <div class="col-md-10" style="">
            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar src="/assets/img/planetas-img.png" alt="">
                    <mat-card-title class="titulo">PLANETAS</mat-card-title>
                    <mat-card-subtitle>
                        El software de atención visual de selección de números y palabras
                    </mat-card-subtitle>
                </mat-card-header>

                <br>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar src="/assets/img/origami-img.png" alt="">
                    <mat-card-title class="titulo">ORIGAMI</mat-card-title>
                    <mat-card-subtitle>
                        Fomentar la mejora de la memoria a corto plazo, el trabajo de la inhibición y la atención.
                    </mat-card-subtitle>
                </mat-card-header>

                <br>
                <mat-card-content>

                </mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar src="/assets/img/cartas-img.png" alt="">
                    <mat-card-title class="titulo">CARTAS</mat-card-title>
                    <mat-card-subtitle>
                        Realizar estimulación de las capacidades mentales: flexibilidad cognitiva, planificación,
                        inhibición
                        y atención selectiva.
                    </mat-card-subtitle>
                </mat-card-header>

                <br>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-1" style=""></div>
    </div>
</div>
<br>