mat-icon {
  float: left;
  margin-right: 5px;
}
h3 {
  font-weight: bold;
}

.img-order {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.img-ord-1{
 max-width: 100%;
 height: auto;
}


.shadow {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: auto;
  width: fit-content;
  padding: 30px;
  position: relative;
}

/*Btn buscar flotante*/
.float-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  background-color: grey;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.float-btn:hover {
  background-color: rgb(211, 206, 206);
}

.search-btn {
  margin-top: 10px;
  margin-left: 9px;
}
