<h1 mat-dialog-title>ARITMETICA VE</h1>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
    <h2>Flexibilidad cognitiva</h2>
    <mat-icon>flag_circle</mat-icon>
    <h3>Objetivo</h3>
    <p>
        Mejorar el cálculo matemático, atención y memoria a través de la actividad aritmética y vegetales.
    </p>

    <mat-icon>receipt_long</mat-icon>
    <h3>Instrucciones</h3>

    <p>
        Esta actividad se encuentra en formato Microsoft Power Point y esta ubicada en el Cd que acompaña el programa.
        Se deberá presionar la tecla F5 o dar clic en la tecla presentación con diapositivas desde la primera
        diapositiva.
        En cada diapositiva encontrara un grupo de vegetales o frutas con un numero asignado. Cada plantilla en la parte
        superior muestra un problema aritmético (suma y resta). Dos de los vegetales estarán con interrogantes, por
        ello, el niño deberá seleccionar uno de los números que se encuentren en la parte inferior, para que reemplace
        los interrogantes y la operación sea resuelta.
        En la ultima plantilla el resulta esta presente, por ello se debe buscar 1 tomare y 1 cebolla, como parte de la
        operación.
    </p>

    <mat-icon>timer</mat-icon>
    <h3>Tiempo</h3>
    <p>
        No tiene limite de tiempo. 
    </p>

    <mat-icon>assignment_late</mat-icon>
    <h3>Nota</h3>
    <p>
        Previo a darle el aviso de inicio, se deberá aclarar que apenas termine la primera columna de palabras se debe
        continuar en la siguiente.
    </p>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>


            <div class="col-md-8 shadow">
                <img src="assets/img/infiltrado.png">
                <img src="assets/img/infiltrado.png">
            </div>


            <div class="col-md-2"></div>

        </div>
    </div>

    <br>
    <br>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>