<div id="id-que-es"class="container" style="margin-top:15px; padding: 50px;margin-bottom:0px;">
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <img src="assets/img/psiconit-img.png" alt="" style="width: 70%">
            <br>
            <br>
            <p>
                Es un programa de estimulación cognitiva dirigido a personas que han sufrido daño cerebral o que
                requieren de estimulación con el propósito de desarrollar y potencializar las redes neuronales
                implicadas en los procesos cognitivos.
                conoce el programa
            </p>
            <button mat-button >Conoce el programa</button>
        </div>

        <div class="col-md-6" style="text-align:center;">
            <img src="assets/img/vr-boy-glasses.png" alt="" style="width: 50%">
        </div>
    </div>
</div>