.example-spacer {
  flex: 1 1 auto;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-icon {
  margin-right: 10px;
}

/*RESPONSIVE*/

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  background-color: #FFBB6B;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.img-sidenav {
  width: 150px;
  height: 50px;
  margin: 0px 0px 0px 0px ;
  padding: 0;
  box-sizing: border-box;
}

.activo  {
  background-color: #FFBB6B;  
}


mat-tool-bar{
  background-color:#FFBB6B;
}

.mat-nav-list{
  margin-right: 10px;
  margin-left: 10px;
}

.mat-expansion-panel{
  margin-top: 10px;
  box-shadow: none;
}

@media only screen and (max-width:768px){
  .responsive-1{
    display: none;
  }
}



