<div class="container" style="margin-bottom: 20px;">
    <h1>REALIDAD VIRTUAL</h1>
    <h3>Actividades</h3>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/infiltrado.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>EL INFILTRADO</mat-card-title>
                    <mat-card-subtitle>Flexibilidad cognitiva</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/col-invertidos.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>COLORES INVERTIDOS</mat-card-title>
                    <mat-card-subtitle>Inhibición</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/alfa.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>ALFABETO</mat-card-title>
                    <mat-card-subtitle>Velocidad de procesamiento</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/circulos-duales.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>CIRCULOS DUALES</mat-card-title>
                    <mat-card-subtitle>Inhibición</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/cuenta-acierta.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>CUENTA Y ACIERTA (FIGURAS)</mat-card-title>
                    <mat-card-subtitle>Inhibición</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/cuadro-mn.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>CUADRO MNESICO</mat-card-title>
                    <mat-card-subtitle>Memoria</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/inter-dos.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>INTER - DOS</mat-card-title>
                    <mat-card-subtitle>Flexibilidad cognitiva</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/arit-vege.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>ARITMETICA VEGETALES</mat-card-title>
                    <mat-card-subtitle>Inhibición</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/plagio.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>PLAGIO</mat-card-title>
                    <mat-card-subtitle>Inhibición</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <img mat-card-image src="assets/img/reloj.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-header>
                    <mat-card-title>RELOJ</mat-card-title>
                    <mat-card-subtitle>Toma de Desiciones</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>