.mat-card {
  margin-top: 20px;
  width: auto;
  padding-top:30px;
}

.mat-card:hover{
  background-color: rgba(232, 228, 228, 0.214);
}
.mat-card-image {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-left: 2px;
}
