mat-icon {
    float: left;
    margin-right:5px;
}
h3{
    font-weight: bold;
}

img{
    width: 40%;
    height:auto;
    margin-left: 50px;
   
}

.shadow{
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
}