<div id="id-como-funciona" class="container">
    <h1 style="text-align: center;">¿CÓMO FUNCIONA?</h1>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h2>¿QUÉ ES REHABILITACIÓN COGNITIVA?</h2>
            <p>
                La rehabilitación cognitiva se define como una variedad de técnicas o métodos terapéuticos utilizados
                para potenciar u optimizar los déficits cognitivos que ocurren como resultado de eventos traumáticos
                tales como lesiones, heridas o patologías adquiridas que afectan el desarrollo funcional del cerebro.
                <br>
                <br>
                El término rehabilitación hace referencia a la restauración de capacidades cognitivas que se encuentran
                disminuidas desde un evento en concreto; así pues, es esta característica la que lo diferencia de otros
                conceptos claves tales como la estimulación cognitiva o el entrenamiento cognitivo, los cuales están
                también enfocados en estimular y potenciar aspectos como las capacidades cognitivas que a su vez se ven
                ligadas a las funciones ejecutivas.
                <br>
                <br>
                A la actualidad, se tiene poca diferenciación de los términos rehabilitación cognitiva y estimulación
                cognitiva, utilizando este primero como un espectro más general en cuanto a todo lo relacionado con
                afectaciones al desarrollo cognitivo sin tener en cuenta sus causas; sin embargo, la recuperación de
                estos se debe principalmente a las capacidades del cerebro para compensar déficits, esto se da a través
                de características específicas como la neuro-plasticidad.
            </p>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <img src="assets/img/child-1.png" alt="" style="width: 50%">
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <img src="assets/img/doctor-1.png" alt="" style="width: 50%">
        </div>
        <br>
        <div class="col-md-6">
            <br>
            <h2>¿QUÉ ES ESTIMULACIÓN COGNITIVA?</h2>
            <p>
                A la hora de buscar información sobre métodos de estimulación cognitiva, entre otras cosas, encontramos
                conceptos tales como entrenamiento cerebral, gimnasia cerebral, ejercicio mental o rehabilitación
                cognitiva, que inicialmente son un poco confusos, sin embargo, retomando desde un concepto general son
                más fáciles de comprender, por ejemplo, la estimulación cognitiva es un conjunto de técnicas y
                estrategias encaminadas a mejorar el funcionamiento y la eficiencia de capacidades cognitivas como la
                memoria, la atención y la percepción, a su vez, este mismo proceso incide en habilidades y destrezas que
                se preservan a través de actividades y programas que promueven su desarrollo y fortalecimiento optimo, a
                través de la plasticidad cerebral.
                <br>
                <br>
                En función del tipo de persona a la que vayan destinadas y de la finalidad que se pretenda conseguir
                mediante la estimulación cognitiva, todas las herramientas se pueden clasificar de manera global o más
                específica.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <h2>¿QUÉ CAPACIDADES COGNITIVAS PUEDEN REHABILITARSE?</h2>
    <p>
        Dentro de las capacidades cognitivas se encuentran unos factores específicos que están involucrados
        directa o indirectamente para el proceso de entrenamiento, los principales para tener en cuenta son:
    </p>
    <div class="row" style=" padding-left: 10px;">
        <div class="col-md-9" style="">
            <div class="container-fluid" style="">

                <div class="row">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-1"></div>
                            <mat-card-title>Atención</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Capacidad para seleccionar, dirigir y gestionar un nivel adecuado de actividad para
                                procesar
                                información significativa.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-7"></div>
                            <mat-card-title>Percepción</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Codifica y coordina las diversas sensaciones elementales para asignarles un
                                significado,
                                por
                                medio de los sentidos.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-3"></div>
                            <mat-card-title>Memoria de trabajo</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Capacidad de mantener información en línea durante la ejecución de otras funciones
                                ejecutivas.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-4"></div>
                            <mat-card-title>Lenguaje</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Capacidad para expresar pensamientos de forma oral y escrita, que nos permiten
                                comunicarnos.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-5"></div>
                            <mat-card-title>Velocidad de procesamiento</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                Capacidad para comprender información, procesarla y responder ante el estímulo.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image-6"></div>
                            <mat-card-title>Praxias</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <p>
                                capacidad que tenemos para realizar movimientos voluntarios, intencionados,
                                manifestar
                                impresión
                                y hacer expresiones gestuales.
                            </p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <div>
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image-7"></div>
                                <mat-card-title>Gnosias</mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    Permite a las personas a saber identificar un objeto percibido a simple vista.
                                </p>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="container">
                <img src="assets/img/doctor-2.png" alt="" style="width:100%; height:25%; margin-top: 20px;">
            </div>
        </div>
    </div>
</div>