<div id="id-a-quien" class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>¿A QUIÉN VA DIRIGIDO?</h2>
            <p>
                PSICONIT es una herramienta dirigida a usuarios y profesionales que trabajen en rehabilitación
                neuropsicológica que presten servicios de estimulación cognitiva y rehabilitación a personas con
                alteraciones en el funcionamiento neurológico
            </p>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <img src="assets/img/doctor-3.png" alt="" style="width: 70%">
        </div>
    </div>
</div>
