<footer class="footer" >
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img src="assets/img/psiconit-img.png" alt="">
            </div>
            <div class="footer-col">
                <img src="assets/img/LogoInstitucionalUAN.png" alt="">
            </div>
            <div class="footer-col">
                <h4>organización</h4>
                <ul>
                    <li><a href="#">acerca de nosotros</a></li>
                    <li><a href="#">nuestros servicios</a></li>
                    <li><a href="#">politica de privacidad</a></li>
                    <li><a href="#">afiliados</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Asesoria</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="#">correo</a></li>
                    <li><a href="#">telefono</a></li>
                    <li><a href="#">direccion</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>siguenos</h4>
                <div class="social-links">
                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                    <a href="#"> <i class="fab fa-twitter"></i></a>
                    <a href="#"> <i class="fab fa-instagram"></i></a>
                    <a href="#"> <i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>