<mat-card>
    <mat-card-header>
        <mat-card-title>Nuevo</mat-card-title>
        <mat-card-subtitle>Usuario</mat-card-subtitle>
        <mat-icon style="font-size: 50px;" aria-hidden="false" aria-label="Agregar Cliente">person_add</mat-icon>
    </mat-card-header>

    <div class="mat-elevation-z8 basic-container">


        <form [formGroup]="formAgregarUsuario">
            <!-- Datos del usuario -->
            <mat-grid-list cols="2" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Nombre" type="text" formControlName="name"> 
                        <mat-error *ngIf="hasError('name', 'required')">
                            Ingrese el nombre
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Usuario" type="text" formControlName="username">
                        <mat-error *ngIf="hasError('username', 'required')">
                            Ingrese el nombre de usuario
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email">
                        <mat-error *ngIf="hasError('email', 'required')">
                           Ingrese el correo
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" type="password" formControlName="password">
                        <mat-error *ngIf="hasError('password', 'required')">
                            Ingrese la contraseña
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Confirmar contraseña" type="password" >
                        <mat-error *ngIf="hasError('apellido', 'required')">
                            Ingrese la contraseña
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <!-- Agregar cuenta -->

            <mat-grid-list cols="2" rowHeight="100px" gutterSize="50px">
                <mat-grid-tile>
                    <mat-card  style="width: 100%; padding: 0px!important;">
                        <mat-card-header style="background-color: rgba(0, 0, 0, 0.10); ">
                            <mat-card-title style="margin-top: 10px;">Cuentas</mat-card-title>
                            <span class="toolbar-spacer"></span>
                            <button mat-button (click)="agregarCuenta()">
                                <mat-icon aria-label="Agregar" aria-hidden="false">add</mat-icon>
                            </button>
                        </mat-card-header>

                        <mat-card-content>
                            <div style="margin: 15px;" *ngIf="cuentas.length == 0" fxLayout="row"
                                fxLayoutAlign="center">
                                Todavía no ha ingresado cuentas para este usuario.
                            </div>
                            <mat-list>
                                <mat-list-item *ngFor="let c of cuentas">
                                    <mat-icon mat-list-icon>house</mat-icon>
                                    <h4 mat-line>{{c.balance}}</h4>
                                    <button mat-icon-button (click)="editarCuenta(c)">
                                        <mat-icon aria-label="Editar">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="borrarCuenta(c)">
                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>


        </form>
    </div>

</mat-card>