h1 {
  text-align: center;
}

.mat-card-vr-box {
  max-width: 60%;
  min-width: 50%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-card-info {
  margin: 10px 0px 0px 0px;

}

.mat-button {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #FFBB6B;
}

.shadow{
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

@media screen and (min-width: 991px) {
  .mat-card{
    width:100%; 
    height:min-content;  
  }
}

@media screen and (max-width: 991px) {
  .mat-card{
    margin-left: 0px;
  }
}
.mat-card-content{
  text-align: justify;
  
}
