<div class="container" style="margin-bottom: 18px; margin-top: 18px;">
    <h1>REHACV</h1>
    <mat-divider></mat-divider>
    <br>
    <div class="row shadow">
        <div class="col-md-6" style="">
            <br>
            <p>
                REHACV es una Aplicación de realidad virtual enfocada en la restauración y reorganización de procesos
                cognitivos
                especifico por medio de actividades. Esta aplicación puede ser instalada en un dispositivo móvil y a su
                vez
                ser
                instalado en un visor de realidad virtual como el que se muestra en la imagen.
                <br>
                <br>
                REHACV se centra en actividades simples de percepción, atención y memoria las cuales ayudan al paciente
                en
                su
                proceso de recuperación.
            </p>
            <div style="text-align:center;">
                <button mat-button>
                    Ver actividades
                </button>
            </div>
        </div>
        <div class="col-md-6" style="">
                <mat-card class="mat-card-vr-box">
                    <img mat-card-image src="assets/img/vr-box.png" alt="">
                </mat-card>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="mat-card-info">
                <img mat-card-image src="assets/img/vr-pov.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-content>
                    <p>
                        El paciente con solo girar la cabeza tendrá acceso a diferentes categorías como lenguaje,
                        atencion, memoria, retención, entre otras.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mat-card-info">
                <img mat-card-image src="assets/img/mult-actividades.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-content>
                    <p>
                        Algunas actividades son Alfabeto, Aritmética de vegetales, Colores invertidos, entre muchas
                        otras.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mat-card-info">
                <img mat-card-image src="assets/img/res-img.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-content>
                    <p>
                        Al finalizar cada actividad, el paciente tendrá acceso a los resultados.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="mat-card-info">
                <img mat-card-image src="assets/img/cada-usuario.png"
                    style="width: 100%; height:100%; margin-top:15px; margin-left:2px">
                <mat-card-content>
                    <p>
                        Cada paciente tendrá su propio usuario, para almacenar el progreso de sus actividades. Su
                        historial está disponible para que los rehabilitadores puedan acceder a ella, revisar su
                        progreso y planificar sus actividades de recuperación.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="row">

        <p>
            El daño cerebral adquirido (DCA) se refiere a una lesión en la estructura del cerebro de personas que
            nacieron sin ningún tipo de daño cerebral y que es producido como consecuencia de un accidente o enfermedad
            (Neuron, n,d). Ejemplo de esto son los Accidentes Cerebro Vasculares (ACV), que ocurren cuando el suministro
            de sangre a una parte del cerebro se ve interrumpida o se ve reducida, impidiendo que el tejido cerebral
            reciba el oxígeno y nutrientes necesarios. Consecuencia de esto, las células cerebrales comienzan a morir en
            minutos (MayoClinic, 2021).
        </p>
    </div>


</div>