<div class="container">
    
    <h1 style="text-align: center;">TRATAMIENTO</h1>
    <mat-divider></mat-divider>
    <h2>PROCESOS COGNITIVOS</h2>
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-3"></div>
                    <mat-card-title class="titulo">Funciones ejecutivas</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <p>
                        Las funciones ejecutivas son consideradas como una serie de procesos cognitivos entre los que se
                        destacan la anticipación, la elección de objetivos, la planificación, la selección de la
                        conducta, la autorregulación y el autocontrol.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-4"></div>
                    <mat-card-title class="titulo">Velocidad de procesamiento</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <p>
                        La velocidad de procesamiento de la información es un recurso cognitivo importante que facilita
                        la cognición de orden superior permitiendo que múltiples procesos cognitivos estén disponibles
                        simultáneamente
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-7"></div>
                    <mat-card-title class="titulo">Memoria de trabajo</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <p>
                        Es un proceso de adquisición y codificación de la información que se da en tres estadios:
                        memoria sensorial, memoria a corto plazo y memoria a largo plazo.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-4"></div>
                    <mat-card-title class="titulo">Toma de decisiones</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <p>
                        La toma de decisiones puede definirse como la selección de una alternativa dentro de un rango de
                        opciones existentes, considerando los posibles resultados de las selecciones realizadas y sus
                        consecuencias en el comportamiento presente y futuro
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-6"></div>
                    <mat-card-title class="titulo">Atención</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <p>
                        Es el proceso cognitivo que permite la orientación hacia los estímulos relevantes y el
                        procesamiento para responder en consecuencia.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="mat-card-vr-box">
                <img mat-card-image src="assets/img/hand-1.png" alt="">
            </mat-card>
        </div>
    </div>


</div>